@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

:root{
    /* Colors */
    --TEXT-COLOR: #311712;
    --CP-COLOR: #122941;
    --FTR-COLOR: #A66D63;
    --BORDER-COLOR: #311712;
    --BG-COLOR: #F7E4DD;
    --BG-DESK: #EFB6AC;
    --BG-CARD: #FCEFDD;
    --BG-BTN: #F9D468;

    /* Effects */
    --BORDER: 4px solid var(--BORDER-COLOR);
}


/* Reset ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


/* || GENERAL STYLES ---------- */
body {
    background-color: var(--BG-COLOR);
    color: var(--TEXT-COLOR);
    font-family: 'Fuzzy Bubbles', sans-serif;
    font-weight: bold;
    min-height: 100vh;
}

main {
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    padding: 1rem;
}


/* Score Section ---------- */
.scoreboard__section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 0.5rem;
}

.scoreboard__scorecard {
    background: var(--BG-CARD);
    border-radius: 15px;
    border: var(--BORDER);
    flex: 1 1 160px;
    max-width: 200px;
    padding: 0.5rem;

    display: flex;
    gap: 0.5rem;
}

.scoreboard__scorecard img {
    width: 33%;
}

.scoreboard__score-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}


/* Monitor ----------*/
.cp-board {
    color: var(--CP-COLOR);
    margin: 1.5rem auto;
    max-width: 350px;
    position: relative;
    width: 100%;
}

.cp-board__cp-option,
.cp-board__play-again,
.cp-board__results,
.cp-board__winner-img,
.cp-board__winner-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cp-board__winner-text {
    font-size: 1.2rem;
    top: 22%;
}

.cp-board__cp-option,
.cp-board__winner-img {
    max-width: 70px;
    top: 36%;
}

.cp-board__results {
    top: 54%;
}

.cp-board__play-again {
    background-color: var(--BG-BTN);
    border-radius: 15px;
    border: 3px solid var(--BORDER-COLOR);
    color: var(--TEXT-COLOR);
    font: inherit;
    padding: 0.5rem 0.8rem;
    top: 54%;
    transition: 0.2s ease;
}

.cp-board__play-again:where(:hover, :focus) {
    filter: brightness(1.1);
}


/* Player Options ----------*/
.pl-board {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pl-board__pl-option {
    background-color: var(--BG-CARD);
    border-radius: 15px;
    border: var(--BORDER);
    height: 125px;
    padding: 1rem;
    width: 125px;

    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.pl-board__pl-option img {
    width: auto;
    height: 70%;
    transition: 0.2s ease;
}

.pl-board__pl-option img:hover {
    transform: scale(1.1)
}


/* Desk Bg ---------- */
.desk{
    background-color: var(--BG-DESK);
    border-top: var(--BORDER);
    height: calc(100% - 25.5rem);
    position: absolute;
    top: 25.5rem;
    width: 100%;
    z-index: -1;
}

.desk__acc {
    display: none;
}


/* Transitions */
.hidden {
    display: none;
}

.fade {
    opacity: 0.5;
}


/* Footer ---------- */
footer {
    bottom: 0;
    background-color: var(--BG-DESK);
    color: var(--FTR-COLOR);
    padding: 0.5rem;
    position: fixed;
    text-align: center;
    width: 100%;
}

footer a {
    color: var(--FTR-COLOR);
    text-decoration: none;
}

footer a:where(:hover, :focus) {
    text-decoration: underline;
}


/* || MEDIUM+ SCREENS */
@media only screen and (min-width: 768px) {
    .desk__acc {
        display: block;
        position: absolute;
        top: -7rem;
        transform: translateX(-50%);
        width: 160px;
    }

    #plant {
        left: calc(50% - 18rem);
    }
    
    #pencil-cup {
        left: calc(50% + 18rem);
    }
}



